<html>
  <head>
    <title>Video stream sample</title>
    <link rel="stylesheet" type="text/css" href="../style.css"/ >
  </head>
  <body>

<div class="container-sequence">
  <div class="sequence" id="seq_1">

    <div class="files">
      <div class="file" id="seq_1_file_1">
        <label for="input_seq_1_file_1">Fichier: </label>
        <input id="input_seq_1_file_1" type="file" name="input_seq_1_file_1">
      </div>

      <div class="file" id="seq_1_file_2">
        <label for="input_seq_1_file_2">Fichier: </label>
        <input id="input_seq_1_file_2" type="file" name="input_seq_1_file_2">
      </div>
    </div>

    <label for="team_name">Durée: </label>
    <input id="team_name" type="text" name="name_field" value="Default name for team.">

    <input type="submit" value="OK">
  </div>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="index.js"></script>
  </body>
</html>
